@import "vars";

.tagsinput {
    align-items: center;

    &:not(:disabled) {
        cursor: text;
    }

    .btn {
        --ui-btn-padding-y: #{$tagsinput-btn-padding-y};
        --ui-btn-font-size: #{$tagsinput-btn-font-size};
        --ui-btn-color: #{$tagsinput-btn-color};
        --ui-btn-bg: #{$tagsinput-btn-bg};
        --ui-btn-border-color: #{$tagsinput-btn-border-color};
        --ui-btn-hover-bg: #{$tagsinput-btn-hover-bg};
        --ui-btn-hover-border-color: #{$tagsinput-btn-hover-border-color};
        --ui-btn-active-border-color: #{$tagsinput-btn-active-border-color};
    }

    >* {
        margin-right: $tagsinput-item-spacing;
    }
}

.tagsinput-input {
    width: 0;
    min-width: 20px;
    padding: 0;
    outline: 0;
    background: transparent;
    border: 0;
}

.tagsinput-placeholder {
    color: $tagsinput-placeholder-color;
    pointer-events: none;
    user-select: none;
}

.tagsinput-menu {
    --ui-tagsinput-z-index: #{$tagsinput-z-index};
    --ui-tagsinput-color: #{$tagsinput-color};
    --ui-tagsinput-bg: #{$tagsinput-bg};
    --ui-tagsinput-border-width: #{$tagsinput-border-width};
    --ui-tagsinput-border-color: #{$tagsinput-border-color};
    --ui-tagsinput-item-padding-x: #{$tagsinput-item-padding-x};
    --ui-tagsinput-item-padding-y: #{$tagsinput-item-padding-y};
    --ui-tagsinput-item-color: #{$tagsinput-item-color};
    --ui-tagsinput-item-focus-color: #{$tagsinput-item-focus-color};
    --ui-tagsinput-item-focus-bg: #{$tagsinput-item-focus-bg};
    --ui-tagsinput-item-active-color: #{$tagsinput-item-active-color};
    --ui-tagsinput-item-active-bg: #{$tagsinput-item-active-bg};

    position: absolute;
    z-index: var(--ui-tagsinput-z-index);
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    font-size: $tagsinput-font-size;
    color: var(--ui-tagsinput-color);
    text-align: left;
    background-color: var(--ui-tagsinput-bg);
    border: var(--ui-tagsinput-border-width) var(--ui-border-style) var(--ui-tagsinput-border-color);
}

.tagsinput-item {
    clear: both;
    display: block;
    width: 100%;
    padding: var(--ui-tagsinput-item-padding-y) var(--ui-tagsinput-item-padding-x);
    font-weight: $tagsinput-item-font-weight;
    color: var(--ui-tagsinput-item-color);
    text-align: inherit;
    white-space: nowrap;
    cursor: default;
    background-color: transparent;
    border: 0;

    &.active {
        color: var(--ui-tagsinput-item-active-color);
        background-color: var(--ui-tagsinput-item-active-bg);
    }

    &.focus {
        color: var(--ui-tagsinput-item-focus-color);
        background-color: var(--ui-tagsinput-item-focus-bg);
    }

    &.disabled {
        pointer-events: none;
        opacity: var(--ui-disabled-opacity);
    }

    .tagsinput-menu-sm & {
        font-size: $tagsinput-sm-font-size;
    }

    .tagsinput-menu-lg & {
        font-size: $tagsinput-lg-font-size;
    }
}
