// tagsinput
$tagsinput-btn-padding-y: .125rem !default;
$tagsinput-btn-font-size: .875em !default;

$tagsinput-btn-color: var(--ui-info-contrast) !default;
$tagsinput-btn-bg: var(--ui-info) !default;
$tagsinput-btn-border-color: var(--ui-border-color-translucent) !default;
$tagsinput-btn-hover-bg: var(--ui-info-highlight) !default;
$tagsinput-btn-hover-border-color: var(--ui-btn-border-color) !default;
$tagsinput-btn-active-border-color: var(--ui-btn-border-color) !default;
$tagsinput-item-spacing: .25rem !default;

$tagsinput-placeholder-color: var(--ui-secondary-color) !default;

$tagsinput-z-index: 1000 !default;
$tagsinput-font-size: var(--ui-font-size) !default;
$tagsinput-color: var(--ui-body-color) !default;
$tagsinput-bg: var(--ui-body-bg) !default;
$tagsinput-border-width: var(--ui-border-width) !default;
$tagsinput-border-color: var(--ui-border-color) !default;

$tagsinput-sm-font-size: var(--ui-font-size-sm) !default;
$tagsinput-lg-font-size: var(--ui-font-size-lg) !default;

$tagsinput-item-padding-x: .5rem !default;
$tagsinput-item-padding-y: .25rem !default;
$tagsinput-item-font-weight: 400 !default;
$tagsinput-item-color: var(--ui-body-color) !default;

$tagsinput-item-focus-color: var(--ui-primary-contrast) !default;
$tagsinput-item-focus-bg: var(--ui-primary) !default;
$tagsinput-item-active-color: var(--ui-body-color) !default;
$tagsinput-item-active-bg: var(--ui-secondary-bg) !default;
