$spacing: 1rem !default;

$disabled-opacity: .5 !default;

// border
$border-size: 1px !default;
$border-style: solid !default;

// color
$white: #fff !default;
$black: #000 !default;
$gray: #808080 !default;

$color-variants: (
    primary: #2b55d4
) !default;

$text-color: #121212 !default;

$border-color: fade($black, .15) !default;

// text
$font-size-sm: .875rem !default;
$font-size-md: 1rem !default;
$font-size-lg: 1.25rem !default;

$font-weights: (
    normal: 400
) !default;

// z index
$dropdown-z-index: 1000 !default;

// form
$input-padding-x: $spacing * .5 !default;
$input-padding-y: $spacing * .5 !default;
$input-placeholder-color: $gray !default;

$input-sm-padding-x: $spacing * .5 !default;
$input-sm-padding-y: $spacing * .25 !default;
$input-sm-font-size: $font-size-sm !default;
$input-lg-padding-x: $input-padding-x !default;
$input-lg-padding-y: $input-padding-y !default;
$input-lg-font-size: $font-size-lg !default;

// tagsinput
$tagsinput-btn-padding-x: $spacing * .5 !default;
$tagsinput-btn-padding-y: $spacing * .125 !default;
$tagsinput-btn-font-size: .75rem !default;
$tagsinput-item-spacing: $spacing * .25 !default;

$tagsinput-padding-x: $spacing !default;
$tagsinput-padding-y: $spacing * .5 !default;
$tagsinput-color: $text-color !default;

$tagsinput-menu-font-size: $font-size-md !default;
$tagsinput-menu-color: $tagsinput-color !default;
$tagsinput-menu-background-color: $white !default;
$tagsinput-menu-border-size: $border-size !default;
$tagsinput-menu-border-color: $border-color !default;

$tagsinput-items-max-height: 250px !default;

$tagsinput-item-padding-x: $tagsinput-padding-x !default;
$tagsinput-item-padding-y: $spacing * .25 !default;
$tagsinput-item-font-weight: map-get($font-weights, normal) !default;
$tagsinput-item-color: $tagsinput-menu-color !default;

$tagsinput-item-focus-background-color: map-get($color-variants, primary) !default;
$tagsinput-item-focus-color: text-color($tagsinput-item-focus-background-color) !default;
$tagsinput-item-active-color: $tagsinput-color !default;
$tagsinput-item-active-background-color: fade($black, .1) !default;
$tagsinput-item-disabled-opacity: $disabled-opacity !default;
